<div class="home-items" *ngIf="items.length > 0">
  <div class="rect"></div>
  <div class="rect"></div>
  <div class="container items-content">
    <div class="header">
      <h4>
        Últimos
        <h4>anúncios</h4>
      </h4>
    </div>
    <div class="items">
      <div class="item" *ngFor="let item of items" (click)="goToItem(item.uuid)">
        <div class="header">
          <img src="{{ item.image }}">
          <span class="material-icons">search</span>
        </div>
        <div class="footer">
          <span class="tag">{{item.type}}</span>
          <p>{{item.name}}</p>
          <div>
            <span>{{item.server}}</span>
            <span>{{ item.price | currency:'BRL' }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <button (click)="viewItems()">
        Ver todos os anúncios
        <span class="material-icons">keyboard_arrow_right</span>
      </button>
    </div>
  </div>
</div>