<div class="home-items">
  <div class="rect"></div>
  <div class="rect"></div>
  <div class="container items-content">
    <div class="header">
      <h4>
        Ultimos
        <h4>anúncios</h4>
      </h4>
    </div>
    <div class="items">
      <div class="item">
        <div class="header">
          <div class="img"></div>
          <span class="material-icons">search</span>
        </div>
        <div class="footer">
          <span class="tag">skin</span>
          <p>Jayce Academia de Batalha</p>
          <div>
            <span>Servidor A</span>
            <span>{{ 9.99 | currency:'BRL' }}</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="header">
          <div class="img"></div>
          <span class="material-icons">search</span>
        </div>
        <div class="footer">
          <span class="tag">skin</span>
          <p>Jayce Academia de Batalha</p>
          <div>
            <span>Servidor A</span>
            <span>{{ 9.99 | currency:'BRL' }}</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="header">
          <div class="img"></div>
          <span class="material-icons">search</span>
        </div>
        <div class="footer">
          <span class="tag">skin</span>
          <p>Jayce Academia de Batalha</p>
          <div>
            <span>Servidor A</span>
            <span>{{ 9.99 | currency:'BRL' }}</span>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="header">
          <div class="img"></div>
          <span class="material-icons">search</span>
        </div>
        <div class="footer">
          <span class="tag">skin</span>
          <p>Jayce Academia de Batalha</p>
          <div>
            <span>Servidor A</span>
            <span>{{ 9.99 | currency:'BRL' }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <button>
        Ver todos os anúncios
        <span class="material-icons">keyboard_arrow_right</span>
      </button>
    </div>
  </div>
</div>