<div class="profile">
  <div class="overlay"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <div class="menu">
          <li (click)="sectionOption = 'account'">
            <span class="material-icons">account_circle</span>
            Minha Conta
          </li>
          <li>
            <span class="material-icons">security</span>
            Alterar Senha
          </li>
          <li>
            <span class="material-icons">shopping_basket</span>
            Compras
          </li>
          <li>
            <span class="material-icons">perm_identity</span>
            Tornar-se um Vendedor
          </li>
          <li>
            <span class="material-icons">shopping_basket</span>
            Criar Anúncio
          </li>
          <li>
            <span class="material-icons">receipt</span>
            Histórico de Vendas
          </li>
          <li>
            <span class="material-icons">exit_to_app</span>
            Sair
          </li>
        </div>
      </div>
      <div class="col-lg">
        <div class="profile-content">
          <app-minha-conta *ngIf="sectionOption === 'account'"></app-minha-conta>
        </div>
      </div>
    </div>
  </div>
</div>