<div class="profile">
  <div class="overlay"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="profile-menu">
        <div class="menu">
          <li [class.active]="component.command === 'account'" (click)="setCommand('account')">
            <span class="material-icons">account_circle</span>
            Minha Conta
          </li>
          <li [class.active]="component.command === 'password'" (click)="setCommand('password')">
            <span class="material-icons">security</span>
            Alterar Senha
          </li>
          <li [class.active]="component.command === 'purchases'" (click)="setCommand('purchases')">
            <span class="material-icons">shopping_basket</span>
            Minhas Compras
          </li>
          <li [class.active]="component.command === 'change-type'" (click)="setCommand('change-type')">
            <span class="material-icons">perm_identityd</span>
            Tornar-se um Vendedor
          </li>
          <li [class.active]="component.command === 'advertise'" (click)="setCommand('advertise')">
            <span class="material-icons">note_add</span>
            Criar Anúncio
          </li>
          <li [class.active]="component.command === 'sales'" (click)="setCommand('sales')">
            <span class="material-icons">receipt</span>
            Minhas Vendas
          </li>
          <li>
            <span class="material-icons">exit_to_app</span>
            Sair
          </li>
        </div>
      </div>
      <div class="profile-body">
        <div class="profile-content">
          <app-minha-conta *ngIf="component.command === 'account'"></app-minha-conta>
          <app-alterar-senha *ngIf="component.command === 'password'"></app-alterar-senha>
          <app-transforma-conta *ngIf="component.command === 'change-type'"></app-transforma-conta>
          <app-minhas-compras *ngIf="component.command === 'purchases'"></app-minhas-compras>
          <app-criar-anuncio *ngIf="component.command === 'advertise'"></app-criar-anuncio>
          <app-minhas-vendas *ngIf="component.command === 'sales'"></app-minhas-vendas>
        </div>
      </div>
    </div>
  </div>
</div>