<div class="checkout">
  <div id="overlay-item" class="overlay-item"></div>
  <div class="container content-item loading" *ngIf="!status.loaded">
    <div class="loader"></div>
  </div>
  <div class="container content-item err" *ngIf="status.loaded && status.error">
    <span class="material-icons">error</span>
    <p>Item não encontrado.</p>
  </div>
  <div class="container box-container" *ngIf="status.loaded && data">
    <div class="steps">
      <div
        class="item pointer"
        [class.active]="step === 0"
        (click)="changePanel('payment')"
      >
        <p>1</p>
        <span>Método de pagamento</span>
      </div>
      <div
        class="item pointer"
        [class.active]="step === 1"
        (click)="changePanel('confirmation')"
      >
        <p>2</p>
        <span>Confirmação</span>
      </div>
      <div class="item" [class.active]="step === 2">
        <p>3</p>
        <span>Contacte o Vendedor</span>
      </div>
    </div>
    <div class="align" *ngIf="step === 0">
      <div class="content-item">
        <div class="image">
          <img src="{{ data.image }}" alt="imagem do produto" />
        </div>
        <div class="details">
          <div class="header">
            <h5>{{ data.name }}</h5>
            <div>
              <p class="type">{{ data.type_ }}</p>
            </div>
          </div>
          <div class="action">
            <div class="price">1x {{ data.price | currency: "BRL" }}</div>
          </div>
        </div>
      </div>
      <div class="content-checkout">
        <div>
          <header class="header">
            <h3>Checkout</h3>
          </header>
          <div class="qr-code">
            <p class="title">Pague com PicPay</p>
            <p>Abra o PicPay em seu telefone e escaneie o código abaixo</p>
            <img src="{{ payment.qrCode }}" />
            <p>
              Ou click
              <a href="{{ payment.url }}"> aqui</a>
              para acessar o link
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="confirmation" *ngIf="step === 1">
      <h3>
        <span class="material-icons">info</span>
        Informe o seu nickname
      </h3>
      <p>Para o recebimento do item</p>
      <div class="content">
        <div>
          <div class="item">
            <label for="name">Nickname</label>
            <input name="name" type="text" [(ngModel)]="nickname" required />
          </div>
          <button (click)="pay()">
            Concluir
            <span class="material-icons">done</span>
          </button>
        </div>
      </div>
    </div>
    <div class="confirmation" *ngIf="step === 2">
      <h3>
        <span class="material-icons">info</span>
        Compra efetuada com sucesso!
      </h3>
      <p>Seu item será enviado para o nickname informado.</p>
      <div class="content">
        <a
          href="https://api.whatsapp.com/send?phone={{ data.salesman.phone }}"
          target="_blank"
        >
          <p>Se preferir, fale diretamente com o vendedor</p>
          <img src="./assets/images/whatsapp.svg" />
        </a>
        <button (click)="goToItems()">Continuar Comprando</button>
      </div>
    </div>
    <div class="validation error" *ngIf="validation.error">
      <p>{{ validation.message }}</p>
    </div>
    <div class="validation success" *ngIf="validation.success">
      <p>{{ validation.message }}</p>
    </div>
  </div>
</div>
