.checkout {
  min-height: 100vh;
  padding: 30px;
  background: linear-gradient(180deg, #00000080 230px, transparent 0px);
  position: relative;

  .overlay-item {
    background-image: url("./../../../../assets/images/header.jpg");
    background-position-y: -110px;
    background-size: cover;
    background-position: top;
    height: 230px;
    z-index: -5;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: 0.3s;
  }

  .titulo {
    background: #00000080;
    padding: 30px;
    height: 100px;

    h4 {
      color: #fff;
      font-weight: bold;
      font-size: 30px;
      margin-bottom: 80px;
    }
  }

  .box-container {
    background: #fff;
    margin-bottom: 30px;
    margin-top: 40px;
    padding: 40px;
    animation: slide-content-product 0.3s ease 0.2s backwards;
    transition: 0.3s;

    .steps {
      display: flex;
      align-items: flex-start;
      margin-bottom: 40px;
      border-bottom: 1px solid ghostwhite;
      padding-bottom: 40px;

      .item {
        display: flex;
        align-items: center;
        padding: 20px;
        border: 1px solid gainsboro;
        transition: 0.3s;
        min-height: 75px;
        margin-right: 25px;
        opacity: 0.4;

        p,
        span {
          margin: 0px;
          font-family: "Montserrat";
          transition: 0.3s;
        }

        p {
          width: 30px;
          height: 30px;
          background: gainsboro;
          border-radius: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 8px;
        }
      }

      .item.active {
        background: #4caf50;
        opacity: 1;

        p {
          background: #fff;
          font-weight: bold;
          color: #4caf50;
        }

        span {
          font-weight: bold;
          color: #fff;
        }
      }
    }

    .align {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 100%;
    }

    .content-checkout {
      display: flex;
      flex-direction: row;
      width: 100%;

      div {
        width: 100%;
      }

      button {
        margin-top: 25px;
        font-family: "Montserrat";
        background: #8bc34a;
        font-weight: bold;
        margin-left: auto;
        transition: 0.3s;

        span {
          width: unset;
          opacity: 1;
          border-left: 1px solid #ffffff4d;
          margin-left: 15px;
          padding-left: 15px;
        }
      }

      button:hover {
        background: #4caf50;
      }

      button:disabled {
        opacity: 0.1;
        background: gray;
      }

      .header {
        h3 {
          font-family: "Montserrat";
          font-size: 35px;
          font-weight: bold;
          text-transform: uppercase;
          margin-bottom: 20px;
        }
      }

      .item {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        margin-top: -15px;
        position: relative;

        select {
          background: #fff;
          font-family: "Montserrat";
          border: 1px solid gainsboro;
          padding: 10px;
          width: 100%;
          outline: none;
        }

        label {
          font-family: "Montserrat";
          position: relative;
          top: 18px;
          left: 10px;
          background: #fff;
          width: fit-content;
          padding: 0px 10px;
          border: 1px solid gainsboro;
          font-size: 12px;
          color: #525252;
        }

        input {
          font-family: "Montserrat";
          border: 1px solid gainsboro;
          padding: 8px 10px;
          min-width: 250px;
          outline: none;
        }

        input:focus {
          border: 1px solid #3aa4e5;
        }
      }
    }

    .content-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 40px;
      background: linear-gradient(-45deg, #3aa4e5, #00bfff);
      box-shadow: 15px 15px 0px 0px #6c45a7;
      margin-right: 60px;
      animation: slide-content-product 0.3s ease backwards;
      transition: 0.3s;

      .image {
        animation: slide-content-product 0.3s ease 0.15s backwards;

        img {
          width: 260px;
          object-fit: cover;
        }
      }

      .details {
        margin-top: 20px;
        width: 100%;
        animation: slide-content-product 0.3s ease 0.3s backwards;

        .header {
          margin-bottom: 30px;

          h5 {
            font-family: "Montserrat";
            font-size: 35px;
            font-weight: bold;
            color: #fff;
            text-transform: uppercase;
            max-width: 340px;
          }

          div {
            display: flex;
            align-items: flex-start;

            p {
              margin: 0px;
              padding: 0px 10px;
              background: gainsboro;
              margin-right: 5px;
              text-transform: lowercase;
            }
          }
        }

        .description {
          margin-bottom: 30px;
        }

        .action {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 100%;
          border-top: 1px solid #fff;

          .price {
            font-family: "Montserrat";
            font-weight: bold;
            font-size: 30px;
            color: #fff;
            min-width: 180px;
          }

          button {
            background: #8bc34a;
            font-weight: bold;
            transition: 0.3s;

            span {
              width: unset;
              opacity: 1;
              border-left: 1px solid #ffffff4d;
              margin-left: 15px;
              padding-left: 15px;
            }
          }

          button:hover {
            background: #4caf50;
          }
        }
      }
    }

    .content-item:hover {
      box-shadow: 25px 25px 0px 0px #6c45a7;
    }

    .confirmation {
      width: 75%;
      margin: auto;

      h3 {
        display: flex;
        align-items: center;
        font-family: "Montserrat";
        font-size: 35px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 10px;

        span {
          font-size: inherit;
          margin-right: 5px;
          user-select: none;
        }
      }

      p {
        font-family: "Montserrat";
        font-size: 20px;
      }

      .content {
        width: 100%;

        div {
          margin-right: 40px;
          width: 100%;
        }

        a {
          margin: unset;
          margin-top: 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
          width: fit-content;
          padding: 15px 20px;
          background: #52af50;
          border-radius: 125px;
          cursor: pointer;
          transition: 0.3s;

          p {
            text-align: end;
            margin: 0px;
            font-size: 16px;
            color: #fff;
            font-weight: bold;
          }

          img {
            height: 20px;
            margin-left: 8px;
          }
        }

        a:hover {
          background: #449442;
          text-decoration: unset;
        }

        .item {
          display: flex;
          flex-direction: column;
          margin-bottom: 15px;
          margin-top: -15px;
          position: relative;

          select {
            background: #fff;
            font-family: "Montserrat";
            border: 1px solid gainsboro;
            padding: 10px;
            width: 100%;
            outline: none;
          }

          label {
            font-family: "Montserrat";
            position: relative;
            top: 18px;
            left: 10px;
            background: #fff;
            width: fit-content;
            padding: 0px 10px;
            border: 1px solid gainsboro;
            font-size: 12px;
            color: #525252;
          }

          input {
            font-family: "Montserrat";
            border: 1px solid gainsboro;
            padding: 8px 10px;
            min-width: 250px;
            outline: none;
          }

          input:focus {
            border: 1px solid #3aa4e5;
          }
        }

        button {
          background: #8bc34a;
          font-weight: bold;
          transition: 0.3s;
          margin-top: 20px;
          margin-left: auto;
        }

        button:hover {
          background: #4caf50;
        }
      }
    }
  }

  .content-item.loading,
  .content-item.err {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background: #fff;
    margin-bottom: 30px;
    margin-top: 40px;
    padding: 40px;
    animation: slide-content-product 0.3s ease backwards;

    div.loader {
      width: 60px;
      height: 60px;
    }

    span {
      font-size: 25px;
      user-select: none;
    }

    p {
      margin: 0px;
      font-size: 20px;
      margin-left: 8px;
    }
  }

  @keyframes slide-content-product {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
