<nav class="navbar" [class.fixed]="fixed()" [class.main]="!main()" *ngIf="show()">
  <div class="logo" (click)="goHome()">
    <img src="./assets/images/logo.png" alt="ROCT">
  </div>
  <div class="menu">
    <div class="search">
      <input type="text" placeholder="Procurar itens" [(ngModel)]="search" (keyup.enter)="openSearch()">
    </div>
    <div class="option">
      <p>Jogos</p>
      <div>
        <li *ngFor="let item of navItems.games; index as i" (click)="openGame(item.value)">{{item.label}}</li>
        <li (click)="openGame('')">
          Todos os jogos
          <span class="material-icons">keyboard_arrow_right</span>
        </li>
      </div>
    </div>
    <div class="option">
      <p>Servidores</p>
      <div>
        <li *ngFor="let item of navItems.servers; index as i" (click)="openServer(item.value)">{{item.label}}</li>
        <li (click)="openServer('')">
          Todos os servidores
          <span class="material-icons">keyboard_arrow_right</span>
        </li>
      </div>
    </div>
    <div class="option">
      <p>Itens</p>
      <div>
        <li *ngFor="let item of navItems.itens; index as i" (click)="openItem(item.value)">{{item.label}}</li>
        <li (click)="openItem('')">
          Todos os itens
          <span class="material-icons">keyboard_arrow_right</span>
        </li>
      </div>
    </div>
  </div>
  <div class="account">
    <a routerLink="/user/login">Entrar</a>
  </div>
</nav>