nav.navbar {
  background: #0000004d;
  height: 60px;
  padding: 5px 20px;
  margin-bottom: -60px;
  transition: 0.3s;

  .logo {
    cursor: pointer;

    img {
      width: 50px;
      transition: 0.3s;
    }
  }

  .menu {
    padding-left: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;

    .search {
      input {
        padding: 5px 20px;
        border-radius: 25px;
        transition: 0.3s;
        outline: none;
        border: unset;
        background: #00000080;
        color: #fff;
        font-family: "Montserrat";
      }

      input:focus {
        border: 1px solid #fff;
      }
    }

    .option {
      margin-left: 25px;
      position: relative;

      p {
        color: #fff;
        margin: 0px;
        height: 50px;
        display: flex;
        align-items: center;
        user-select: none;
        font-family: "Montserrat";
        border-bottom: 3px solid transparent;
        transition: 0.3s;
      }

      div {
        display: none;
      }
    }

    .option:hover {
      p {
        color: #fff;
        border-bottom: 3px solid #fff;
      }

      div {
        display: unset;
        position: absolute;
        overflow: hidden;
        width: 200px;
        background: #ffff;
        z-index: 5;
        border-radius: 0px 0px 5px 5px;
        box-shadow: 0 17px 20px -9px #0000004d;
        top: 50px;
        left: -15px;
        animation: anim-menu-nav 0.3s ease backwards;

        li {
          cursor: pointer;
          font-family: "Montserrat";
          list-style: none;
          padding: 15px;
          border-bottom: 1px solid ghostwhite;
          font-size: 14px;
          text-transform: capitalize;
        }

        li:last-child {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          border-bottom: unset;
          text-align: end;
          font-size: 12px;
          text-transform: unset;

          span {
            font-size: inherit;
          }
        }

        li:hover {
          background: ghostwhite;
          color: #3aa4e5;
        }
      }

      @keyframes anim-menu-nav {
        0% {
          opacity: 0;
          transform: translateX(20px);
        }

        100% {
          opacity: 1;
          transform: translateX(0px);
        }
      }
    }
  }

  .account {
    display: flex;
    position: relative;
    padding: 10px;
    padding-right: 0px;
    margin-left: auto;

    a {
      font-family: "Montserrat";
      font-weight: bold;
      text-decoration: none;
      transition: 0.3s;
      color: #fff;
      font-size: 14px;
    }
  }
}

nav.fixed {
  position: fixed;
  z-index: 30;
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 5px -2px #0000001a;
  padding: 5px 20px;
  height: unset;
  animation: slide-nav-fixed ease 0.4s backwards;

  .menu {
    .search {
      input {
        background: transparent;
        border: 1px solid gainsboro;
        color: #525252;
      }

      input:focus {
        border: 1px solid #3aa4e5;
      }
    }

    .option {
      p {
        color: #525252;
      }
    }

    .option:hover {
      p {
        color: #525252;
        border-bottom: 3px solid gainsboro;
      }
    }
  }

  .logo {
    img {
      width: 40px;
    }
  }

  .account {
    a {
      color: #525252;
    }
  }
}

@keyframes slide-nav-fixed {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

nav.main {
  background: #fff;
  box-shadow: 0 2px 5px -2px #0000001a;
  margin: 0px;
  height: 70px;
  transition: 0.3s;

  .menu {
    padding-left: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;

    .search {
      input {
        padding: 5px 20px;
        border-radius: 25px;
        background: transparent;
        color: #525252;
        border: 1px solid gainsboro;
        transition: 0.3s;
        outline: none;
      }

      input:focus {
        border: 1px solid #3aa4e5;
      }
    }

    .option {
      margin-left: 25px;
      position: relative;

      p {
        color: #525252;
        margin: 0px;
        height: 60px;
        display: flex;
        align-items: center;
        user-select: none;
        font-family: "Montserrat";
        border-bottom: 3px solid transparent;
        transition: 0.3s;
      }

      div {
        display: none;
      }
    }

    .option:hover {
      p {
        color: #525252;
        border-bottom: 3px solid gainsboro;
      }

      div {
        display: unset;
        position: absolute;
        overflow: hidden;
        width: 200px;
        background: #ffff;
        z-index: 5;
        border-radius: 0px 0px 5px 5px;
        box-shadow: 0 17px 20px -9px #0000004d;
        top: 60px;
        left: -15px;
        animation: anim-menu-nav 0.3s ease backwards;

        li {
          cursor: pointer;
          font-family: "Montserrat";
          list-style: none;
          padding: 15px;
          border-bottom: 1px solid ghostwhite;
          font-size: 14px;
        }

        li:last-child {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          border-bottom: unset;
          text-align: end;
          font-size: 12px;

          span {
            font-size: inherit;
          }
        }

        li:hover {
          background: ghostwhite;
          color: #3aa4e5;
        }
      }

      @keyframes anim-menu-nav {
        0% {
          opacity: 0;
          transform: translateX(20px);
        }

        100% {
          opacity: 1;
          transform: translateX(0px);
        }
      }
    }
  }

  .account {
    a {
      color: #525252;
    }
  }
}
