nav.navbar {
  background: #0000004d;
  height: 60px;
  padding: 5px 20px;
  margin-bottom: -60px;
  transition: 0.3s;

  .logo {
    img {
      width: 50px;
      transition: 0.3s;
    }
  }

  .account {
    display: flex;
    position: relative;
    padding: 10px;
    padding-right: 0px;

    a {
      font-family: 'Montserrat';
      font-weight: bold;
      text-decoration: none;
      transition: 0.3s;
      color: #fff;
      font-size: 14px;
    }
  }
}

nav.fixed {
  position: fixed;
  z-index: 30;
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 5px -2px #0000001a;
  padding: 5px 20px;
  height: unset;
  animation: slide-nav-fixed ease 0.4s backwards;

  .logo {
    img {
      width: 40px;
    }
  }

  .account {
    a {
      color: #525252;
    }
  }
}

@keyframes slide-nav-fixed {
  0% {
    opacity: 0;
    transform: translateY(-40px)
  }
  100% {
    opacity: 1;
    transform: translateY(0px)
  }
}

nav.main {
  background: #fff;
  box-shadow: 0 2px 5px -2px #0000001a;
  margin: 0px;
  height: 70px;
  transition: 0.3s;

  .account {
    a {
      color: #525252;
    }
  }
}
