.consulta-anuncio {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  padding-bottom: 40px;
  position: relative;

  .content {
    padding-bottom: 0px;
    padding-top: 0px;
    width: 100%;

    .header {
      background: #00000080;
      padding: 30px;
      height: 100px;

      h4 {
        color: #fff;
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 80px;
      }
    }

    .consulta-anuncio-container {
      padding: 20px;
      padding-top: 60px;
      display: flex;
      justify-content: flex-start;
      height: 100%;

      h4 {
        border-bottom: unset;
        transition: 0.3s;
      }
      .background {
        img {
          width: 300px;
          max-height: 546px;
          object-fit: cover;
          transition: 0.3s;
        }
      }
      .details {
        margin-left: 15px;

        h5 {
          font-family: "Montserrat";
          font-size: 35px;
          font-weight: bold;
          color: #3aa4e5;
          text-transform: uppercase;
        }

        div {
          display: flex;
          flex-wrap: wrap;

          .price {
            font-family: "Montserrat";
            font-weight: bold;
            font-size: 40px;
            margin-right: 15px;
          }

          .description {
            margin-top: 30px;
            font-family: "Montserrat";
          }

          span {
            padding: 0px 10px;
            font-weight: 100;
            color: #fff;
            font-size: 16px;
            transition: 0.3s;
            margin-right: 10px;
            margin-bottom: 10px;
          }

          span.tag {
            background: #3aa4e5;
          }

          span.shopper {
            background: #795548;
            padding-right: 0px;

            span {
              background: #563b31;
              margin: 0px;
              margin-left: 5px;
              padding: 0px 6px;
            }
          }

          span.server {
            background: #ff9800;
            color: #000;
            text-transform: capitalize;
          }

          span.nickname {
            background: #a8423b;
            padding-right: 0px;

            span {
              background: #aa5347;
              margin: 0px;
              margin-left: 5px;
              padding: 0px 6px;
            }
          }

          span.date {
            background: #8bc34a;
            padding-right: 0px;

            span {
              background: #689a2d;
              margin: 0px;
              margin-left: 5px;
              padding: 0px 6px;
            }
          }

          span.status {
            background: gray;
          }

          span.status.Finalizada {
            background: #009688;
          }

          span.status.Entregue {
            background: #ff5722;
          }

          span.status.Paga {
            background: #4caf50;
          }
        }

        .consulta-anuncio-action-buttons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          // grid-template-columns: auto auto auto;
          // gap: 15px;
          margin-top: 30px;

          a {
            height: 44px;
            margin: unset;
            display: flex;
            flex-direction: row;
            align-items: center;
            width: fit-content;
            padding: 15px 20px;
            background: #52af50;
            cursor: pointer;
            transition: 0.3s;
            margin-right: 15px;

            p {
              text-align: end;
              margin: 0px;
              font-size: 16px;
              color: #fff;
              font-weight: bold;
            }

            img {
              height: 20px;
              margin-left: 8px;
            }
          }

          a:hover {
            background: #449442;
            text-decoration: unset;
          }
        }
      }
    }

    .success-alert {
      position: fixed;
      bottom: 0px;
      right: 0px;
      animation: slide-error-login 0.4s ease backwards;

      p {
        padding: 20px;
        background: #fff;
        margin: 30px;
        color: #000;
        max-width: 200px;
        box-shadow: 0 6px 10px -8px #00000080;
      }

      p.error {
        border-top: 10px solid #f44336;
      }

      p.success {
        border-top: 10px solid #4cf436;
      }
    }

    .loading {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 300px;

      div.loader {
        width: 60px;
        height: 60px;
      }

      span {
        font-size: 25px;
        user-select: none;
      }

      p {
        margin: 0px;
        font-size: 20px;
        margin-left: 8px;
      }
    }
  }
}

@keyframes slide-content-adverts {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
