<div class="register">
	<div class="content">
		<form #login="ngForm">
			<h5>Novo usuário</h5>
			<div class="avatar">
				<div [class.change-avatar]="changeAvatar" (mouseenter)="changeAvatar = true"
					(mouseleave)="changeAvatar = false">
					<img [src]="data.avatar ? data.avatar : 'https://cdn.iconscout.com/icon/free/png-512/avatar-380-456332.png'"
						alt="default">
					<span class="material-icons" *ngIf="changeAvatar" (click)="openAvatarBox()">unarchive</span>
				</div>
			</div>
			<div>
				<div class="item">
					<label for="name">Nome</label>
					<input [(ngModel)]="data.name" name="name" type="text" required>
				</div>
				<div class="item">
					<label for="email">Email</label>
					<input [(ngModel)]="data.email" name="email" type="text" required>
				</div>
				<div class="item">
					<label for="cpf">CPF</label>
					<input [(ngModel)]="data.cpf" name="cpf" type="text" mask="000.000.000-00" required>
				</div>
				<div class="item">
					<label for="telefone">Telefone</label>
					<input [(ngModel)]="data.telefone" name="telefone" type="text" mask="(00) 00000-0000" required>
				</div>
				<div class="item">
					<label for="paswd">Senha</label>
					<input [(ngModel)]="data.pwd.password" name="paswd" type="password" required>
				</div>
				<div class="item">
					<label for="confirm_password">Confirme a senha</label>
					<input [(ngModel)]="data.pwd.confirm_password" name="confirm_password" type="password" required>
				</div>
				<div class="type-user">
					<label class="smallFont" for="vendedor">Quero ser um vendedor</label>
					<div class="switch" [class.active]="data.vendedor" (click)="data.vendedor = !data.vendedor">
						<div class="rect"></div>
						<div class="circle"></div>
					</div>
				</div>
			</div>
			<button (click)="submit()">Cadastrar</button>
		</form>
	</div>
	<div class="pop-up-avatar" *ngIf="boxAvatar" @fadeOut>
		<div class="box">
			<div class="header">
				<h4>Escolha seu avatar</h4>
				<span class="material-icons" (click)="closeAvatarBox()">close</span>
			</div>
			<div class="content">
				<div class="item">
					<img (click)="setAvatar($event)" src="./assets/images/avatar/batman.svg" alt="batman">
				</div>
				<div class="item">
					<img (click)="setAvatar($event)" src="./assets/images/avatar/lego.svg" alt="lego">
				</div>
				<div class="item">
					<img (click)="setAvatar($event)" src="./assets/images/avatar/deadpool.svg" alt="deadpool">
				</div>
				<div class="item">
					<img (click)="setAvatar($event)" src="./assets/images/avatar/thief.svg" alt="thief">
				</div>
				<div class="item">
					<img (click)="setAvatar($event)" src="./assets/images/avatar/superman.svg" alt="superman">
				</div>
				<div class="item">
					<img (click)="setAvatar($event)" src="./assets/images/avatar/vampire.svg" alt="vampire">
				</div>
				<div class="item">
					<img (click)="setAvatar($event)" src="./assets/images/avatar/dj.svg" alt="dj">
				</div>
				<div class="item">
					<img (click)="setAvatar($event)" src="./assets/images/avatar/woman.svg" alt="woman">
				</div>
			</div>
		</div>
	</div>
	<div class="error-alert" *ngIf="status.error" @fadeOut>
		<p>{{ status.error_message }}</p>
	</div>
</div>