.form-control {
  border: unset;
  min-height: 40px;
  font-family: "Montserrat";
  font-weight: 200;
  margin-top: -10px;
  transition: 0.3s;
}

.form-control:focus {
  box-shadow: unset;
  border: 2px solid gainsboro;
  margin-top: 0px;
}

@media only screen and (max-width: 700px) {
  .register {

    .pop-up-avatar {
      padding: 20px;

      .box {
        max-width: 280px;

        .header {
          span.material-icons {
            top: -62px;
            right: -43px;
          }
        }
      }
    }
  }
}

.register {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f8f8;
  min-height: 100vh;
  padding: 60px 0px;

  .ml-10 {
    margin-left: 10px;
  }

  .smallFont {
    font-family: 'Montserrat';
    font-size: 12px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;

    h3 {
      font-weight: 200;
      margin: 0px;
      color: gray;
    }

    span {
      padding: 2px;
      font-size: 25px;
      margin-right: 2px;
      color: gray;
      user-select: none;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px #00000008;
    width: 400px;

    .avatar {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      padding-right: unset;

      img {
        border-radius: 50%;
        height: 60px;
        width: 60px;
      }

      .change-avatar {
        margin-bottom: -60px;
      }

      span.material-icons {
        cursor: pointer;
        position: relative;
        display: flex;
        top: -60px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        color: #fff;
        user-select: none;
        animation-name: zoom;
        animation-fill-mode: backwards;
        animation-duration: 0.3s;
        transition: 0.3s;
        background: rgba(158, 158, 158, 0.8);
        font-size: 35px;
      }

      @keyframes zoom {
        0% {
          background: transparent;
          font-size: 0px;
        }

        100% {
          background: rgba(158, 158, 158, 0.8);
          font-size: 35px;
        }
      }

      .item {
        margin: 0px;
        width: 100%;
        box-shadow: 0 5px 13px -13px rgba(0, 0, 0, 0.4);

        input {
          padding-right: unset;
        }
      }
    }

    form {
      padding: 40px;
      width: 100%;

      h5 {
        font-weight: bold;
        border-bottom: 3px solid;
        padding-bottom: 10px;
        margin-bottom: 50px;
        width: fit-content;
      }

      .item {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        margin-top: -15px;
        position: relative;

        label {
          font-family: 'Montserrat';
          position: relative;
          top: 18px;
          left: 10px;
          background: #fff;
          width: fit-content;
          padding: 0px 10px;
          border: 1px solid gainsboro;
          font-size: 12px;
          color: #525252;
        }

        input {
          font-family: 'Montserrat';
          border: 1px solid gainsboro;
          padding: 8px 10px;
          min-width: 250px;
          outline: none;
        }

        input:focus {
          border: 1px solid #3aa4e5;
        }
      }

      a {
        cursor: pointer;
        font-family: 'Montserrat';
        font-size: 12px;
      }

      button {
        outline: none;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 15px;
      }

      button.second {
        border: 1px solid #3aa4e5;
        color: #3aa4e5;
        background: transparent;
        width: fit-content;
        margin-left: auto;
      }

      .type-user {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 5px;
      }

      div.switch {
        cursor: pointer;
        position: relative;
        margin-bottom: -10px;

        .rect {
          width: 70px;
          height: 30px;
          background: #f8f8f8;
          border-radius: 35px;
          transition: 0.3s;
          box-shadow: inset 0 0px 10px -8px #00000080;
        }

        .circle {
          height: 20px;
          background: #cccccc;
          width: 20px;
          border-radius: 50%;
          position: relative;
          top: -25px;
          left: 5px;
          transition: 0.3s;
        }
      }

      div.switch.active {
        .rect {
          background: #3aa4e5;
        }

        .circle {
          left: 45px;
          background: #fff;
        }
      }
    }
  }

  .error {
    position: fixed;
    bottom: 0px;
    right: 0px;
    animation: slide-error 0.4s ease backwards;

    p {
      padding: 20px;
      background: #fff;
      margin: 30px;
      color: #000;
      max-width: 200px;
      border-top: 10px solid #F44336;
      box-shadow: 0 6px 10px -8px #00000080;
    }
  }

  .pop-up-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    background: #0000001a;
    padding: 60px;
    top: 0;
    animation-name: modal;
    animation-fill-mode: backwards;
    animation-duration: 0.5s;
    transition: 0.3s;

    .box {
      background: #fff;
      border-radius: 15px;
      max-width: 420px;
      box-shadow: 0 0px 40px rgba(0, 0, 0, 0.1);
      animation-name: zoom_modal;
      animation-fill-mode: backwards;
      animation-duration: 0.5s;
      animation-delay: 0.2s;
      transition: 0.3s;

      .header {
        padding: 30px 30px 5px 30px;
        background: ghostwhite;
        border-radius: 20px 20px 0px 0px;
        box-shadow: 0 5px 10px -8px rgba(0, 0, 0, 0.2);

        h4 {
          font-family: 'Montserrat';
          width: 100%;
          font-weight: bold;
        }

        span.material-icons {
          position: relative;
          top: -44px;
          right: -44px;
          background: #fff;
          border-radius: 25px;
          border: 2px solid #f05d5d;
          color: #f05d5d;
          padding: 2px;
          margin: 0px;
          font-size: 20px;
          cursor: pointer;
        }
      }

      .content {
        margin-top: unset;
        border-radius: 0px 0px 20px 20px;
        display: flex;
        justify-content: center;
        align-items: space-between;
        flex-flow: wrap;
        padding: 20px;

        .item {
          margin-bottom: unset;
          box-shadow: unset;
          padding: 8px;

          img {
            cursor: pointer;
            height: 60px;
            border: 2px solid ghostwhite;
            width: 60px;
            border-radius: 50%;
            box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
            transition: 0.3s;
          }

          img:hover {
            background: linear-gradient(45deg, #f05d5d 50%, #ffffff00 0%);
            box-shadow: 0 0 12px -3px rgba(0, 0, 0, 0.2);
            border: 2px solid #f05d5d;
          }
        }
      }
    }

    @keyframes zoom_modal {
      0% {
        transform: scale(0);
      }

      100% {
        transform: scale(1);
      }
    }
  }

  @keyframes modal {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .error-alert {
    position: fixed;
    bottom: 0px;
    right: 0px;
    animation: slide-error-login 0.4s ease backwards;

    p {
      padding: 20px;
      background: #fff;
      margin: 30px;
      color: #000;
      max-width: 200px;
      border-top: 10px solid #F44336;
      box-shadow: 0 6px 10px -8px #00000080;
    }
  }

  @keyframes slide-error-login {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }

    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
