<div class="create-ad">
  <header>
    <h2>Criar anúncio</h2>
  </header>
  <div class="content">
    <div>
      <form>
        <div class="item">
          <label for="serverName">Selecione o servidor</label>
          <select name="server" id="select_server" [(ngModel)]="data.ads.server">
            <option value="" disabled>Selecione</option>
            <option *ngFor="let item of dataSelect.server" value="{{item.value}}">{{item.label}}</option>
          </select>
        </div>
        <div class="item">
          <label for="name">Nome do jogo</label>
          <input name="name" [(ngModel)]="data.ads.game" type="text" required />
        </div>
        <div class="item">
          <label for="name">Nome do item</label>
          <input name="name" [(ngModel)]="data.ads.name" type="text" required />
        </div>
        <div class="item">
          <label for="type_">Tipo do item</label>
          <select name="type_" [(ngModel)]="data.ads.type_">
            <option value="" disabled>Selecione</option>
            <option *ngFor="let item of dataSelect.typeItem" value="{{item.value}}">{{item.label}}</option>
          </select>
        </div>
        <div class="item">
          <label for="description">Descrição</label>
          <textarea name="description" [(ngModel)]="data.ads.description" type="text" ></textarea>
        </div>
        <div class="item">
          <label for="price">Preço</label>
          <input name="price" prefix="R$ " mask="0*,00" [(ngModel)]="data.ads.price" type="text" required />
        </div>
        <div class="item">
          <label for="selectedFile">Imagem do item</label>
          <input placeholder="https://" name="selectedFile" type="text" [(ngModel)]="data.ads.image" required />
        </div>
        <div>
          <button type="submit" (click)="submit()">
            Criar
          </button>
        </div>
      </form>
    </div>
    <div class="success-alert" *ngIf="status.show" @fadeOut>
      <p [ngClass]="[status.type === 'success' ? 'success' : 'error']">
        {{ status.message }}
      </p>
    </div>
  </div>
</div>