.create-ad {
  header {
    background: #00000080;
    padding: 30px;
    height: 100px;

    h2 {
      font-weight: bold;
      color: #fff;
    }
  }

  .content {
    padding-top: 60px;

    section {
      padding: 10px 15px;
      background: gray;
      margin-bottom: 20px;

      h5 {
        font-weight: 300;
        color: #fff;
        font-size: 20px;
        margin: 0px;
      }
    }

    .item {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
      margin-top: -15px;
      position: relative;

      label {
        font-family: "Montserrat";
        position: relative;
        top: 18px;
        left: 10px;
        background: #fff;
        width: fit-content;
        padding: 0px 10px;
        border: 1px solid gainsboro;
        font-size: 12px;
        color: #525252;
      }

      input,
      select,
      textarea {
        font-family: "Montserrat";
        border: 1px solid gainsboro;
        padding: 8px 10px;
        min-width: 250px;
        max-width: 400px;
        outline: none;

        option {
          text-transform: capitalize;
        }
      }

      input:disabled {
        background-color: transparent;
      }

      input:focus {
        border: 1px solid #3aa4e5;
      }

      select {
        background: #fff;
        font-family: "Montserrat";
        border: 1px solid gainsboro;
        padding: 10px;
        width: 100%;
        outline: none;
      }
    }

    .image-preview {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      max-width: 400px;
      position: relative;
      padding: 5px;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.05);
      margin: 15px 0px 30px 0px;
    }

    .button-select-image {
      width: 150px;
      height: 32px;
      font-size: 13px;
      background: none;
      border: 1px solid #3aa4e5;
      position: absolute;
      bottom: 5px;
      color: #3aa4e5;
      right: 8px;
    }

    .success-alert {
      position: fixed;
      bottom: 0px;
      right: 0px;
      animation: slide-error-login 0.4s ease backwards;

      p {
        padding: 20px;
        background: #fff;
        margin: 30px;
        color: #000;
        max-width: 200px;
        box-shadow: 0 6px 10px -8px #00000080;
      }

      p.error {
        border-top: 10px solid #f44336;
      }

      p.success {
        border-top: 10px solid #4cf436;
      }
    }
  }
}
