<div class="compras">
	<div class="item" *ngFor="let compra of compras">
		<div class="details">
			<h4>{{ compra.title }}</h4>
			<div>
				<span class="tag">{{ compra.type }}</span>
				<span class="cost">{{ compra.price | currency:'BRL' }}</span>
				<span class="date">
					Data da compra
					<span>
						{{ compra.date }}
					</span>
				</span>
				<span class="status {{ compra.status }}">{{ compra.status }}</span>
			</div>
		</div>
		<div class="background">
			<img src="{{ compra.image }}">
		</div>
	</div>
</div>