.compras {
	display: flex;
	flex-wrap: wrap;

	.background {
		background-color: aquamarine;
		background-image: linear-gradient( to right, rgba(226, 34, 98, 0.363), rgb(182, 59, 59));

		.image {
			padding-left: 0;
			padding-right: 0;
			display: block;
			text-align: right;
		}

		span.tag {
			background: #3aa4e5;
			padding: 0px 10px;
			font-weight: 100;
			color: #fff;
			font-size: 12px;
			transition: 0.3s;
		}

		.status-paga {
			background-color: gold;
		}

		.status-entregue {
			background-color: rgba(243, 90, 1, 0.993);
		}

		.status-finalizada {
			background-color:rgb(53, 199, 85);
		}

		h1,
		h2,
		h3,
		h4,
		h5 {
			font-family: "Montserrat";
			font-size: 24px;
			font-weight: bold;
			color: #525252;
			border-bottom: 1px solid #dcdcdc33;
		}

		p {
			font-family: "Baloo Chettan 2";
      font-size: 18px;
      list-style: none;
      padding: 14px 10px;
      user-select: none;
      font-weight: 400;
		}

		.center-itens {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: auto;
			padding: 0;
		}

		col {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 0;
		}

		img {
      width: 100%;
			object-position: top;
			opacity: 1;
			transition: 0.3s;
		}
	}
}