<div class="compras">
	<div class="not-found" *ngIf="compras.length === 0">
		<h4>Nenhum item encontrado.</h4>
	</div>
	<div class="item" *ngFor="let compra of compras"
		(click)="setCommand('status-announcement', compra.uuid, 'purchases')">
		<div class="details">
			<h4>{{ compra.announcement.name }}</h4>
			<div>
				<span class="tag">{{ compra.announcement.type_ }}</span>
				<span class="server">{{ compra.announcement.server }}</span>
				<span class="cost">{{ compra.announcement.price | currency:'BRL' }}</span>
				<span class="date">
					Data da compra
					<span>
						{{ compra.announcement.created_at | date: 'dd/MM/yyyy' }}
					</span>
				</span>
				<span class="status {{ compra.status }}">{{ compra.status }}</span>
			</div>
		</div>
		<div class="background">
			<img src="{{ compra.announcement.image }}">
		</div>
	</div>
</div>