<div class="sales">
  <div class="content">
    <header class="vendas">
      <h4>Vendas</h4>
    </header>
    <div class="search">
      <div>
        <button class="ml-1 mr-1" (click)="search()">Filtrar</button>
        <button class="ml-1 mr-1" (click)="resetFilter()">Limpar Filtro</button>
      </div>
      <div>
        <p>Status da Venda</p>
        <select name="status" id="status_filter" [(ngModel)]="filter.status">
          <option value="">Todos</option>
          <option value="paid">Paga</option>
          <option value="delivered">Entregue</option>
          <option value="finished">Finalizada</option>
        </select>
      </div>
    </div>
    <app-vendas [vendas]="data.vendas"></app-vendas>
  </div>
</div>