.adverts {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  padding: 30px;
  position: relative;
  background: linear-gradient(180deg, #00000033 230px, transparent 0px);

  .overlay {
    background-image: url("./../../../assets/images/header.jpg");
    background-position-y: -110px;
    background-size: cover;
    height: 230px;
    z-index: -5;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .menu {
    background: #fff;
    border-top: 10px solid #3aa4e5;
    min-width: 300px;
    padding: 25px;
    box-shadow: 0 0px 40px -6px #0000001a;
    animation: slide-content-adverts 0.3s ease backwards;

    h5 {
      font-weight: bold;
      margin-bottom: 15px;
    }

    .item {
      position: relative;

      p {
        margin-bottom: 5px;
        background: #3aa4e5;
        width: fit-content;
        padding: 0px 10px;
        border: 0px solid gainsboro;
        position: relative;
        top: 12px;
        left: 10px;
        font-size: 12px;
        color: #fff;
      }

      select {
        font-family: 'Montserrat';
        border: 1px solid gainsboro;
        padding: 10px;
        width: 100%;
        outline: none;
      }
    }

    span {
      cursor: pointer;
      display: flex;
      align-items: center;
      margin-top: 15px;

      span {
        font-size: inherit;
        margin-top: 0px;
        margin-right: 5px;
        user-select: none;
      }
    }

    button {
      outline: none;
      margin-top: 15px;
      margin-left: auto;
    }
  }

  .content {
    padding: 20px;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 100%;

    .search {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      flex-direction: row-reverse;
      margin-bottom: 20px;
      animation: slide-content-adverts 0.3s ease 0.1s backwards;

      div:first-child {
        display: flex;
        height: 40px;

        input {
          border: unset;
          border-radius: unset;
          font-family: 'Montserrat';
          padding: 10px;
          width: 100%;
          outline: none;
        }

        button {
          border: unset;
          border-radius: unset;
          outline: none;
          padding: 10px;

          span {
            width: unset;
            padding: 0px;
            opacity: 1;
          }
        }
      }

      div:last-child {
        position: relative;
        margin-top: 10px;

        p {
          margin: 0px;
          background: #3aa4e5;
          color: #fff;
          width: fit-content;
          padding: 0px 10px;
          font-size: 12px;
          position: absolute;
          top: -10px;
          left: 0px;
        }

        select {
          border: unset;
          border-radius: unset;
          font-family: 'Montserrat';
          padding: 10px;
          height: 40px;
          width: 100%;
          outline: none;
        }
      }
    }

    .items {
      background: #fff;
      min-height: 100vh;
      padding: 40px;
      border-top: 10px solid #3aa4e5;
      box-shadow: 0 0px 40px -6px #0000001a;
      animation: slide-content-adverts 0.3s ease 0.2s backwards;

      h4 {
        font-weight: bold;
        font-size: 30px;
      }
    }
  }
}

@keyframes slide-content-adverts {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
