<div class="adverts">
  <div class="overlay"></div>
  <div class="menu">
    <h5>Filtros</h5>
    <div class="item">
      <p>Servidor</p>
      <select name="server" id="server_filter" [(ngModel)]="filter.server">
        <option value="all">Todos</option>
        <option *ngFor="let server of filtersData.server; index as i;" value={{server.value}}>{{server.label}}</option>
      </select>
    </div>
    <div class="item">
      <p>Jogo</p>
      <select name="game" id="game_filter" [(ngModel)]="filter.game">
        <option value="all">Todos</option>
        <option *ngFor="let game of filtersData.game; index as i;" value={{game.value}}>{{game.label}}</option>
      </select>
    </div>
    <div class="item">
      <p>Tipo do item</p>
      <select name="type" id="type_filter" [(ngModel)]="filter.type">
        <option value="all">Todos</option>
        <option *ngFor="let type of filtersData.type; index as i;" value={{type.value}}>{{type.label}}</option>
      </select>
    </div>
    <span (click)="resetFilter()" *ngIf="filter.filtered && clearFilter()">
      <span class="material-icons">label</span>
      Limpar filtros
    </span>
    <button (click)="search()">Filtrar</button>
  </div>
  <div class="content">
    <div class="search">
      <div>
        <input type="text" placeholder="Procurar itens" [(ngModel)]="filter.text">
        <button (click)="search()"><span class="material-icons">search</span></button>
      </div>
      <div>
        <p>Ordenar por</p>
        <select (change)="search()" name="sort" id="sort_filter" [(ngModel)]="filter.sort">
          <option value="">Ordem padrão</option>
          <option value="crescente">Menor preço</option>
          <option value="decrescente">Maior preço</option>
        </select>
      </div>
    </div>
    <div class="items">
      <h4>Itens disponíveis</h4>
      <app-items [items]="data.docs"></app-items>
    </div>
  </div>
</div>