
<div class="login">
  <div class="container">
    <div class="row justify-content-center ">
      <div class="col-lg-5">
        <div class="center">
            <img src="./assets/images/logo.png" alt="ROCT" width="280" height="260">
        </div>
        <div class="header">
					<span class="material-icons">how_to_reg</span>
					<h3>Login</h3>
				</div>
        <div class="content">
          <form #login="ngForm">
            <div>
              <div class="item">
								<label for="email">Email<span>*</span></label>
								<input class="form-control" placeholder="Digite seu email"
									[(ngModel)]="data.email" name="email" type="text" required>
              </div>
              <div class="item">
								<label for="paswd">Senha <span>*</span></label>
								<input class="form-control" placeholder="Digite sua senha"
									[(ngModel)]="data.pwd.password" name="paswd" type="password" required>
                  <a href="{{goToRecovery()}}" >Esqueceu sua senha?</a>
              </div>
            </div>
            <div class="actions">
              <button (click)="submit()">Entrar</button>
              <hr>
              <button (click)="goToRegister()" >Cadastrar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="error-alert" *ngIf="status.error" @fadeOut>
		<p>Usuário e/ou senha inválidos, tente novamente</p>
	</div>
</div>
