<div class="login">
  <div class="content">
    <form #login="ngForm">
      <h5>Login</h5>
      <div class="item">
        <label for="email">Email</label>
        <input [(ngModel)]="data.email" name="email" type="text" required>
      </div>
      <div class="item">
        <label for="paswd">Senha</label>
        <input [(ngModel)]="data.pwd.password" name="paswd" type="password" required>
      </div>
      <a routerLink="/">Esqueceu sua senha?</a>
      <button (click)="submit()">Entrar</button>
      <hr>
      <button class="second" (click)="goToRegister()">Cadastrar</button>
    </form>
    <div class="overlay">
      <div>
        <img src="./assets/images/logo.png" alt="ROCT">
        <p>Informe seu email e senha para entrar na plataforma.</p>
      </div>
    </div>
  </div>
  <div class="error" *ngIf="status.error">
    <p>E-mail e/ou senha inválidos, tente novamente.</p>
  </div>
</div>