/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "../node_modules/material-icons/iconfont/material-icons.css";

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat";
  font-weight: 200;
  color: #f05d5d;
}

p,
span {
  font-family: "Baloo Chettan 2";
}
