<div class="user-management">
  <header>
    <h2>Gerenciamento de usuários</h2>
  </header>
  <div class="user-management-content">
    <div>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="cpf">
            <th mat-header-cell *matHeaderCellDef>CPF</th>
            <td mat-cell *matCellDef="let element">{{ element.cpf | mask: '000.000.000-00' }}</td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>E-mail</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
          </ng-container>

          <ng-container matColumnDef="limited">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.limited ? "Limitado" : "Não limitado"}} </td>
          </ng-container>

          <ng-container matColumnDef="user_limited">
            <th mat-header-cell *matHeaderCellDef>Limitar usuário</th>
            <td mat-cell *matCellDef="let element">
              <button class="block_user" (click)="restricUser(element.id, !element.user_limited)">
                <span class="material-icons" [class.active]="element.user_limited" >{{element.user_limited ? "lock_open" : "lock"}}</span>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>

        <mat-paginator
          [length]="length"
          [pageSize]="pageSize"
          [pageSizeOptions]="[10, 50, 100]"
          (page)="onChangePage($event)"
        ></mat-paginator>
      </div>
    </div>
    <div class="error-alert" *ngIf="status.error" @fadeOut>
      <p>{{ status.error_message }}</p>
    </div>
  </div>
</div>
