<div class="item-product">
  <div id="overlay-item" class="overlay-item"></div>
  <div class="container content loading" *ngIf="!status.loaded">
    <div class="loader"></div>
  </div>
  <div class="container content err" *ngIf="status.loaded && status.error">
    <span class="material-icons">error</span>
    <p>Item não encontrado.</p>
  </div>
  <div class="container content" *ngIf="status.loaded && data">
    <div class="sections">
      <p>{{ data.game }}</p>
      <span class="material-icons">keyboard_arrow_right</span>
      <p>{{ data.server }}</p>
    </div>
    <div style="display: flex;">
      <div class="image">
        <img src="{{ data.image }}" alt="imagem do produto">
      </div>
      <div class="details">
        <div class="header">
          <h5>{{ data.name }}</h5>
          <div>
            <p class="type">{{ data.type_ }}</p>
            <p>Criado em {{ data.created_at | date: 'dd/MM/yyyy' }}</p>
            <p>Postado por <strong>{{ data.salesman.name }}</strong> </p>
          </div>
        </div>
        <div class="description">
          {{ data.description }}
        </div>
        <div class="action">
          <div class="price">{{ data.price | currency:'BRL' }}</div>
          <button (click)="goToCheckout(data.uuid)" *ngIf="enableShop(data.salesman.id)">
            Comprar
            <span class="material-icons">shopping_cart</span>
          </button>
            <button class="warning" *ngIf="enableDeletion(data.salesman.id)" data-toggle="modal" data-target="#modal">
            Excluir
            <span class="material-icons">delete</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="alert" *ngIf="status.show" @fadeOut>
    <p [ngClass]="[status.success ? 'success' : 'error']">
      {{ status.message }}
    </p>
  </div>

<!-- Modal -->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="TituloModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="TituloModal">Excluir Anúncio</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h5>Deseja realmente excluir {{ data.name }} ? </h5>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
          <button type="button" class="btn btn-danger" (click)="this.deleteProduct(data.uuid)" data-dismiss="modal">Excluir</button>
        </div>
      </div>
    </div>
  </div>
</div>