.announcements {

  display: flex;
  flex-direction: row;
  min-height: 100vh;
  padding-bottom: 40px;
  position: relative;

  .content {
    padding-bottom: 0px;
    padding-top: 0px;
    width: 100%;

    .header {
      background: #00000080;
      padding: 30px;
      height: 100px;

      h4 {
        color: #fff;
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 80px;
      }
    }

    .anuncios {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      flex-direction: row-reverse;
      margin-bottom: 20px;
      animation: slide-content-adverts 0.3s ease 0.1s backwards;
      padding-top: 60px;
    }
  }
}